body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1{
    text-align: center;
    color: whitesmoke;
    background: gray;
    font-size: 54pt;
}

h2{
    font-size: 30pt;
    align-content: flex-start;
}

h3{
    text-align: right;
    font-size: 12pt; 
}

th, td {
    border: 1px solid black;
    width: 100pt;
    height: 20pt;
}

table {
    border-collapse: collapse;
}

